@charset "utf-8";
/* CSS Document */

header {
	background-color: black;
	color: white;
	position: absolute;
	height: 3em;
	line-height: 3em;
	top: 0;
	left: 0;
	right: 0;
}

a {
	color: white;
	text-decoration: none;
}

/* Pure CSS Icons, Arrows Inside of Circles By Sam Peniak */
a:hover .bottom, a:hover .top {
	border: 0.5em solid black;
}

a:hover .bottom:after, a:hover .top:after {
	border-top: 0.5em solid black;
	border-right: 0.5em solid black;
}
/* end Sam Peniak code */

div.container{
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

div.container::-webkit-scrollbar {
	display:none;
}

section {
	position: relative;
	width: 100%;
	display: block;
	margin: auto;
	color: white;
	text-align: center;
}
section:before {
	content: "";
	display: block;
	padding-top: 51%;
}

div.content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

h1 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 5vw;

}

p, h2 {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h2 {
	font-size: 2em;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
	height: 3em;
	line-height: 3em;
}

/* Pure CSS Icons, Arrows Inside of Circles By Sam Peniak */
/* main changes I made were to center the button better on the page */
.bottom {
	display: block;
	width: 4em;
	height: 4em;
	border: 0.5em solid white;
	border-radius: 50%;
	position: absolute;
	bottom: 3em;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.bottom:after {
	content: '';
	display: inline-block;
	margin-top: 0.6em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid white;
	border-right: 0.5em solid white;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.top {
	display: block;
	width: 4em;
	height: 4em;
	border: 0.5em solid white;
	border-radius: 50%;
	position: absolute;
	bottom: 3em;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.top:after {
	content: '';
	display: inline-block;
	margin-top: 1.4em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid white;
	border-right: 0.5em solid white;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* end Sam Peniak code */

#s1 {
	background-color: red;
}

#s2 {
	background-color: orange;
}

#s3 {
	background-color: yellow;
	color: black !important;
	text-shadow: 1px 1px #888;
}

#s4 {
	background-color: green;
}

#s5 {
	background-color: blue;
}

#s6 {
	background-color: purple;
}